{
    "extends": [
      "airbnb-typescript-prettier"
    ],
    "parserOptions": {
      "project": "tsconfig.json"
    },
    "rules": {
      "react/jsx-props-no-spreading": 0,
      "react/destructuring-assignment": 0,
      "jsx-a11y/anchor-is-valid": 0,
      "import/no-extraneous-dependencies": 0,
      "no-use-before-define": 0,
      "import/prefer-default-export": 0,
      "no-param-reassign": 0,
      "no-plusplus": 0,
      "no-alert": 0,
      "camelcase": 0,
      "@typescript-eslint/no-explicit-any": 0,
      "@typescript-eslint/no-use-before-define": 0,
      "@typescript-eslint/no-unused-vars": 0,
      "@typescript-eslint/consistent-type-assertions": 0,
      "@typescript-eslint/no-empty-function": 1,
      "@typescript-eslint/no-var-requires": 0,
      "@typescript-eslint/explicit-module-boundary-types": 0,
      "@typescript-eslint/ban-types": 0,
      "jsx-a11y/label-has-associated-control": "off",
      "jsx-a11y/label-has-for": "off",
      "jsx-a11y/no-autofocus":"warn",
      "react/require-default-props": "off"
    }
  }